.restaurant-login {
    background-image: url(../../img/afiyet-tile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    position: relative;
}

.tile-background {
    opacity: 0.85;
}

.login-form {
    background-color: white;
    padding: 4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 15px;
}

.company-logo {
    height: 150px;
    width: 150px;
    align-self: center;
}

.username-field {
    margin-top: 25px;
    margin-bottom: 25px;
}

.button-container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    text-transform: none;
}

.list-container {
    display: flex;
}

.title {
    font-size: 25px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}