.edit-menu-page {
  background-image: url(../../img/afiyet-tile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.menu-container {
  display: flex;
  justify-content: center;
}

.menu {
  background-color: white;
  width: 70vw;
  display: flex;
  flex-direction: column;
}

.menu-header {
  display: flex;
  margin-left: 1.3vw;
  margin-top: 1.3vw;
  gap: 58vw;
}

.menu-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.category-container {
  width: 65vw;
  display: flex;
  flex-direction: column;
}

.category-header {
  width: 65vw;
  display: flex;
  gap: 53vw;
}

.category-body {
  display: flex;
  flex-direction: column;
}

.dish {
  display: flex;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  gap: 1.3vw;
}