.navbar-container {
    display: flex;
    align-items: center;
}

.navbar {
    background-color: white;
    overflow: hidden;
    padding: 20px;
    display: flex;
    margin: 0 auto;
    border-radius: 15px;
}

.navbar h1 {
    color: #fd2400;
    margin-right: 300px;
}

.navbar .links {
    align-self: center;
    margin-left: auto;
}

.navbar a {
    margin-left: 150px;
    text-decoration: none;
    padding: 6px;
}

.navbar a:hover {
    color: #fd2400;
}