.add-table {
    /*background-image: url(../../img/afiyet-tile.png);-*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 230px;
}

.table-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.table-form {
    background-color: #fd2400;
    padding: 5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}